server:
  port: 8084

spring:
  datasource:
    url: jdbc:h2:file:/tmp/db/election
    platform: h2
    username: sa
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        show_sql: true
        use_sql_comments: true
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2
      settings:
        trace: false
        web-allow-others: false


liquibase:
  url: ${spring.datasource.url}
  user: ${spring.datasource.username}
  password: ${spring.datasource.password}

info:
  app:
    name: Election
    creator-name: Tales Bitelo Viegas
    creator-email: tales.viegas@ulbra.br
